requests
urllib3
chardet
html5lib
pandas
numpy
bs4
pyquery
opencv-contrib-python
pytesseract
imutils
matplotlib
xlrd
openpyxl
python-Levenshtein
asn1crypto
certifi
chardet
cryptography
cycler
defer
et-xmlfile
httplib2
idna
jdcal
keyring
keyrings.alt